<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | BurnG</title>
    <link rel="stylesheet" href="/css/burng.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/burngMusicSave.js"></script>
</head>
<body>
    <main>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <form method="post" class="mb-md-5 mt-md-4 pb-5" onsubmit="handleSubmit(event)">
          
                        <h2 class="fw-bold mb-2 text-uppercase">Add music</h2>
                        <p class="text-white-50 mb-5">Enter the music details below</p>
          
                        <div class="form-outline form-white mb-4">
                          <input type="text" id="typeMusicX" class="form-control form-control-lg" />
                          <label class="form-label" for="typeMusicX">Music Name</label>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <input type="text" id="typeArtistX" class="form-control form-control-lg" />
                            <label class="form-label" for="typeArtistX">Artist</label>
                        </div>
          
                        <div class="form-outline form-white mb-4">
                          <input type="text" id="typeLinkX" class="form-control form-control-lg" />
                          <label class="form-label" for="typeLinkX">Youtube Link</label>
                        </div>
          
                        <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Submit" />
                      </form>
                        <p id="success"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </main>
</body>
</html>